<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/fontawesome/all-custom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">        
      
        <div id="basket-icon" class="basket-icon">
          <i class="basket-icon__icon fas fa-shopping-cart"></i>
          <div class="basket-icon__circle">
            <span class="count"></span>
          </div>
        </div>

        <div id="basket" class="basket">
          <p class="basket__subtitle">basket</p>
          <div id="basket-items"></div>
          <button id="btnClear" class="basket__btn-clear">empty trash</button>
          <a href="/checkout" class="basket__btn-checkout">proceed to checkout</a>          
        </div>
     

      <main class="main"> 

        {{{body}}}

      </main>


      <footer class="footer">

      </footer>

    </div><!-- wrapper -->
    <script src="/javascripts/id-basket-storage.js"></script>
  </body>
</html>
