<form id="orderForm" class="basket__form basket-form">
  <label class="basket-form__label" for="customerName">Name:</label>
  <input class="basket-form__input" type="text" id="customerName" name="customerName" required><br>
  <label class="basket-form__label" for="customerEmail">Email:</label>
  <input class="basket-form__input" type="email" id="customerEmail" name="customerEmail" required><br>
  <button class="basket-form__btn" type="button" id="btnConfirm">confirm order</button>
</form>
          
