<header class="header">        
  <a class="header__logo-link" href="/">
    <img  class="header__logo-image" src="/img/logo.png" alt="Meadowlark Travel Logo">
  </a>    

  <div class="container">
    <!-- nav -->
    <div class="nav">
      <a class="nav__link" href="/main-courses">        
        <span class="nav__title">main courses</span>        
      </a>

      <a class="nav__link" href="/appetizers">        
        <span class="nav__title">appetizers</span>        
      </a>

      <a class="nav__link" href="/desserts">        
        <span class="nav__title">desserts</span>        
      </a>
    </div>
  </div>    
              
</header>


<form id="orderForm" class="basket__form basket-form">
  <label class="basket-form__label" for="customerName">Name:</label>
  <input class="basket-form__input" type="text" id="customerName" name="customerName" required><br>
  <label class="basket-form__label" for="customerEmail">Email:</label>
  <input class="basket-form__input" type="email" id="customerEmail" name="customerEmail" required><br>
  <button class="basket-form__btn" type="button" id="btnConfirm">confirm order</button>
</form>
          
