<header class="header">        
  <a class="header__logo-link" href="/">
    <img  class="header__logo-image" src="/img/logo.png" alt="Meadowlark Travel Logo">
  </a>    

  <div class="container">
    <!-- nav -->
    <div class="nav">
      <a class="nav__link" href="/main-courses">        
        <span class="nav__title">main courses</span>        
      </a>

      <a class="nav__link" href="/appetizers">        
        <span class="nav__title">appetizers</span>        
      </a>

      <a class="nav__link" href="/desserts">        
        <span class="nav__title">desserts</span>        
      </a>
    </div>
  </div>    
              
</header>

<section class="services">
  <h1 class="title">Services</h1>
  <div class="services-box">
  
    {{#if services.length}}
      {{#each services}}
        <a class="services__card" href="{{link}}">
          <img class="services__image" src="{{image}}" alt="Product Image">
          <h2 class="services__title">{{title}}</h2>
        </a>
      {{/each}}
    {{else}}
              
    <p>No services found</p>
    {{/if}}
  
  </div>
</section>

